<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Node.js Multiplayer Drawing Game</title>

        <!-- The stylesheets -->
        <link rel="stylesheet" href="/stylesheets/drawing-styles.css" />
        <link rel="stylesheet" href="stylesheets/polychrome-style.css"></link>
    </head>

    <body>
        <div id="cursors">
            <!-- The mouse pointers will be created here -->
        </div>

        <div id="paperdiv">
            <canvas id="paper" width="1380" height="800">
                Your browser needs to support canvas for this to work!
            </canvas>
        </div>

        <!-- JavaScript includes. Notice that socket.io.js is served by node.js -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
        <script src="javascripts/drawing-script.js"></script>
<!--        <script type="text/javascript" src="javascripts/polychrome-peer.js"></script>-->
        <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
        <script type="text/javascript" src="javascripts/html2canvas.js"></script>
        <script type="text/javascript" src="javascripts/polychrome-feedback-svg.js"></script>
        <script type="text/javascript" src="javascripts/polychrome-feedback-panel.js"></script>

        <button id="polychrome-toggle" class="normal"></button>

        <div id="polychrome-actions">
            <div id="polychrome-id">
        Peer ID:
            </div>

            <div id="polychrome-checkbox-div">
                <div id="polychrome-eventtypes-text">EVENT TYPES</div>
                <div class="polychrome-checkbox">Click
                    <input type="checkbox" value="click" id="polychrome-checkbox-click" checked></div>
                <div class="polychrome-checkbox">Scroll
                    <input type="checkbox" value="scroll" id="polychrome-checkbox-scroll" checked></div>
                <div class="polychrome-checkbox">Mouse Down
                    <input type="checkbox" value="mousedown" id="polychrome-checkbox-mousedown" checked></div>
                <div class="polychrome-checkbox">Mouse Move
                    <input type="checkbox" value="mousemove" id="polychrome-checkbox-mousemove" checked></div>
                <div class="polychrome-checkbox">Mouse Up
                    <input type="checkbox" value="mouseup" id="polychrome-checkbox-mouseup" checked></div>
                <div class="polychrome-checkbox">Touch Start
                    <input type="checkbox" value="touchstart" id="polychrome-checkbox-touchstart" checked></div>
                <div class="polychrome-checkbox">Touch Move
                    <input type="checkbox" value="touchmove" id="polychrome-checkbox-touchmove" checked></div>
                <div class="polychrome-checkbox">Touch End
                    <input type="checkbox" value="touchend" id="polychrome-checkbox-touchend" checked></div>
            </div>


            <div id="polychrome-event-config">
                <div id="polychrome-event-text">EVENTS</div>
                <div id="polychrome-events-div">
                    <div id="polychrome-events-list">
                        <div class="polychrome-event-button" id="polychrome-self-event-tab">
                    My events
                        </div>
                    </div>
                    <div id="polychrome-events-dump">
                    </div>
                </div>
            </div>

            <div id="polychrome-display-config">
                <div id="polychrome-display-text">DISPLAY</div>
                <div id="polychrome-display-div">
                    <div id="polychrome-display-list">
                        <div class="polychrome-display-button" id="polychrome-self-display-tab">
                    My display
                        </div>
                    </div>
                    <div id="polychrome-display-dump">
                    </div>
                </div>
            </div>

            <div id="polychrome-disconnect">
        DISCONNECT
            </div>
        </div>

        <div id="pc-event-capturer">
        </div>



    </body>
</html>