<html>
    <head>
        <title>PolyChrome</title>
        <link rel="shortcut icon" href="images/polychrome-icon.png" />
        <link rel="stylesheet" href="/stylesheets/polychrome-index.css" />
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.zoomooz.js"></script>
        <script type="text/javascript" src="/javascripts/plugins.js"></script>
    </head>
    <body>

        <script type="text/javascript" src="/javascripts/polychrome-peer.js"></script>
        <script type="text/javascript" src="/javascripts/polychrome-index.js"></script>

        <div id="actions">
            <div id="login">
                <form action="/login" method="post">
                    <input type="text" name="username" id="username" placeholder="[Username]" />
                    <input type="password" name="password" id="password" placeholder="[Password]">
                    <input type="submit" value="Log In" id="login_submit" />
                    <input type="button" value="Sign Up" id="signup_submit" />
                </form>
            </div>

            <div id="url_info">
                <input type="text" id="url" placeholder="[Enter URL here]">
                <button id="url_submit"></button>
            </div>

            <div>
                <ul>
                    <li>
				        Your PeerJS ID is
                        <span id="pid"></span>
                    </li>
                </ul>
            </div>
            
            <div id="screen-options">
                <ul>
                    <li><p> Select Screen Type:</p></li>
                </ul>
                <div class="multiple-screen">
                    <div>
                        <input type="button" id="one-screen">
                    </div>
                </div>

                <div class="multiple-screen">
                    <div>
                        <input type="button" class="multiple-screen-element" id="two-screen-left">
                        <input type="button" class="multiple-screen-element" id="two-screen-right">
                    </div>
                </div>

                <div class="multiple-screen">
                    <div>
                        <input type="button" class="multiple-screen-element" id="four-screen-left-top">
                        <input type="button" class="multiple-screen-element" id="four-screen-right-top">
                    </div>
                    <div>
                        <input type="button" class="multiple-screen-element" id="four-screen-left-bottom">
                        <input type="button" class="multiple-screen-element" id="four-screen-right-bottom">
                    </div>
                </div>

                <div class="multiple-screen">
                    <div>
                        <input type="button" class="multiple-screen-element" id="six-screen-left-top">
                        <input type="button" class="multiple-screen-element" id="six-screen-middle-top">
                        <input type="button" class="multiple-screen-element" id="six-screen-right-top">
                    </div>
                    <div>
                        <input type="button" class="multiple-screen-element" id="six-screen-left-bottom">
                        <input type="button" class="multiple-screen-element" id="six-screen-middle-bottom">
                        <input type="button" class="multiple-screen-element" id="six-screen-right-bottom">
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>